<h1>New post</h1>
<%= form_with scope: :post, local: true, class:"form-group col-6" do |form| %>
<p>
  <%= label_tag(:title,"Title") %><br>
  <%= text_field_tag :title,"", class:"form-control" %>
</p>

<p>
  <%= label_tag(:content,"Content") %><br>
  <%= text_area_tag :content,"", class:"form-control" %>
</p>

<p>
  <%= submit_tag("Search",class:"btn btn-primary") %> </p>
<% end %>