<div class="card offset">
    <div class="card-body">
        <h5 class="card-title"><%=@post.title%></h5>
        <h5 class="card-text"><%=@post.updated_at%></h5>
        <p class="card-text"><%=@post.content%></p>

        <hr>
        <hr>
        <h5>comments</h5>
        <% @post.comments.order(created_at: :desc).each do |comment|%>
        <div class="card-body">
            <h7 class="card-text"><%=comment.updated_at%></h7>
            <p class="card-text"><%=comment.content%></p>
            <%= link_to "Delete",delete_comment_path(@post,comment),method: :delete ,:class => "btn btn-danger" %>

            <hr>
        </div>
        <% end %>

        <%= form_for @comment, class:"form-group col-6" do |form| %>
        <p>
            <%= text_field_tag :content,"", class:"form-control" %>
        </p>
        <% unless @comment.errors[:content].empty? %>
        <div class="alert alert-danger" role="alert">
            <%=@comment.errors[:content][0] %>
        </div>
        <%end%>
        <p>
            <%= csrf_meta_tag %>
            <%= submit_tag("Add comment",class:"btn btn-primary") %></p>
        <% end %>
    </div>
</div>